.containerTitle {
	font-size: 3.5rem;
}

.link {
	font-size: 1.25rem;
}

.content {
	font-size: 1.25rem;
}

.content > a {
	@apply mb-8;
	display: inherit;
}

.content > a,
.list > * a {
	@apply text-black font-medium underline;
}
