.container {
	@apply my-0 mx-auto max-w-screen-sm;
	height: inherit;
	min-height: 80vh;
}

.content {
	height: inherit;
}

.title {
	font-size: 2.25rem;
	justify-self: flex-start;
}

.item {
	font-size: 1.25rem;
}

.itemTitle {
	font-size: 1.75rem;
	justify-content: start;
}

/* md breakpoint*/
@media (max-width: 768px) {
	.container {
		@apply m-0;
	}
}
