.container {
	@apply mb-0 mx-auto mt-12 max-w-screen-lg;
}

.mainTitle {
	@apply font-extrabold mb-10;
	font-size: 3.5rem;
}

.date {
	font-size: 0.75rem;
}

.img {
	aspect-ratio: 16/9;
}

.link, .prev, .next {
	@apply text-black underline;
	font-size: 1.25rem;
}

.prev, .next {
	@apply font-medium;
}

.next {
	@apply ml-auto;
}

.prev {
	@apply mr-auto;
}

.content, .paragraphContent {
	@apply mt-12;
}

.paragraphContent {
	@apply prose break-words;
	font-size: 1.25rem;
}

.nav {
	padding: 0 1.5rem;
}


/* lg breakpoint */
@media (max-width: 1024px) {
	.container {
		@apply max-w-screen-md p-4;
	}

	.mainTitle {
		font-size: 2.25rem;
	}
}
